{% extends "layout.html" %}

{% block title %}
Yönetici Girişi
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-box">

        <iconify-icon icon="mingcute:user-star-fill"></iconify-icon>

        <h1>Yönetici Girişi</h1>

        <form method="POST">

            <div class="form-group">
                <label>E-posta</label>
                <input type="email" id="email" name="email" placeholder="E-posta adresinizi girin" required>
            </div>

            <div class="form-group">
                <label>Şifre</label>
                <input type="password" id="sifre" name="sifre" placeholder="Şifrenizi girin" required>
            </div>

            <button type="submit" class="btn btn-primary">
                Giriş Yap
            </button>

        </form>

    </div>

</div>

{% endblock %}